.feed {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.thumb:link,
.thumb:visited {
  display: block;
  position: relative;
  aspect-ratio: 1 / 1;
  border: 1px solid var(--color-base-900);
  overflow: hidden;
}

.thumb > svg {
  width: 1.15rem;
  height: 1.15rem;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  color: var(--color-base-0);
  z-index: 2;
}

.thumb:link > img,
.thumb:visited > img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  transform: scale(1.005);
  transition: all var(--transition);
}

.thumb:hover > img,
.thumb:active > img {
  transform: scale(1.1);
}

.date {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  position: absolute;
  bottom: 0.375rem;
  right: 0.375rem;
  color: #fff;
  font-size: calc(var(--font-min) - 2px);
  font-weight: 600;
  letter-spacing: 0.35px;
  /* border: 1px solid var(--color-base-900); */
  /* border: 1px solid #bdbdbd; */
  border-radius: 1000px;
  /* background-color: var(--color-base-0); */
  background-color: rgba(0, 0, 0, 0.45);
  z-index: 3;
}

@media screen and (max-width: 37.5rem) {
  .thumb > svg {
    top: 0.35rem;
    right: 0.35rem;
  }
}
