.data {
  margin-bottom: 2rem;
}

.data > *:not(:last-child) {
  margin-bottom: 1rem;
}

.data > * {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid var(--color-base-200);
  border-radius: 0.5rem;
}

.content {
  padding-bottom: 1.5rem;
  line-height: 1.9;
  border-bottom: 1px solid var(--color-base-200);
}

.content a:link,
.content a:visited {
  color: var(--color-link);
}

.content a:hover,
.content a:active {
  text-decoration: underline;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.footer > div {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.date {
  padding: 0.25rem 0.5rem;
  font-size: var(--font-min);
  font-weight: 700;
  border: 1px solid var(--color-base-900);
  border-radius: 1000px;
}

.source,
.source:link,
.source:visited {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-min);
  font-weight: 700;
}

.slash {
  font-weight: 400;
}

.slash:last-child {
  display: none !important;
}

@media screen and (max-width: 37.5rem) {
  .content {
    font-size: var(--font-min);
  }
}
