#loader {
  width: 100vw;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  position: absolute;
  top: 0;
  left: 0;
  line-height: 50px;
  text-align: center;
  background: var(--color-base-150-50);
  transition: all 0.75s;
  z-index: 10000;
}

#loader svg {
  width: 48px;
  height: 48px;
  transform-origin: center;
  animation: rotate 2s linear infinite;
}

#loader circle {
  fill: none;
  stroke: var(--color-stone-500);
  stroke-width: 2;
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
  stroke-linecap: round;
  animation: dash 1.5s ease-in-out infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
    stroke-dasharray: 1, 200;
    stroke-dashoffset: 0;
  }

  50% {
    stroke-dasharray: 90, 200;
    stroke-dashoffset: -35px;
  }

  100% {
    stroke-dashoffset: -125px;
  }
}
