#notice {
  margin-bottom: 8rem;
}

.header {
  margin-bottom: 2rem;
  padding: 1.5em 0;
  border-bottom: 1px solid var(--color-base-900);
}

.title {
  margin-bottom: 0.5rem;
  font-size: var(--font-max);
  font-weight: 700;
  line-height: 1.4;
}

.date {
  color: var(--color-font-sub);
  font-size: var(--font-min);
}

.wrap {
  margin-bottom: 2.5rem;
  padding-bottom: 2.5em;
  border-bottom: 1px solid var(--color-base-900);
}

.data img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  border: 1px solid var(--color-base-200);
  border-radius: 1.5rem;
}

.data iframe {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 16 / 9;
  border-radius: 1.5rem;
}

.content {
  margin-top: 2rem;
  letter-spacing: 0.35px;
  line-height: 1.9;
}

.content a:link,
.content a:visited {
  color: var(--color-link);
  text-decoration: underline;
}

.content a:hover,
.content a:active {
  color: var(--color-link);
  text-decoration: none;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.updated {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.updated > span,
.updated > span {
  font-size: var(--font-min);
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.45rem 0.5rem;
  border: 1px solid var(--color-base-900);
  border-radius: 1000px;
}

.updated > time,
.updated > time {
  font-size: var(--font-min);
  font-weight: 500;
  letter-spacing: 0.5px;
}

@media screen and (max-width: 37.5rem) {
  .content {
    font-size: var(--font-min);
  }
}
