.label {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  position: absolute;
  /* bottom: 0.375rem;
  right: 0.375rem; */
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: calc(var(--font-min) - 2px);
  font-weight: 600;
  letter-spacing: 0.35px;
  border-top-left-radius: 0.5rem;
  background-color: rgba(0, 0, 0, 0.275);
  z-index: 3;
}
