#tweet {
  padding: 1.25rem;
  border: 1px solid var(--color-base-200);
  border-radius: 0.5rem;
}

.thread {
  margin-top: 3.5rem;
  position: relative;
}

.thread::before {
  content: '';
  width: 3px;
  height: 3.5rem;
  position: absolute;
  top: -3.5rem;
  left: 2.5rem;
  border-radius: 1000px;
  background-color: #cfd9de;
  z-index: 9;
}

.header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.profile {
  width: 2.5rem;
  display: block;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 0.35rem;
}

.name {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  margin-bottom: 0.25rem;
  font-weight: 700;
}

.handle {
  color: var(--color-font-sub);
  font-size: var(--font-min);
  font-weight: 500;
  letter-spacing: 0.25px;
}

.content {
  margin-bottom: 1.5rem;
  line-height: 1.7;
}

.content a:link,
.content a:visited {
  color: var(--color-link);
}

.content a:hover,
.content a:active {
  text-decoration: underline;
}

.data > *:not(:last-child) {
  margin-bottom: 1rem;
}

.data > * {
  width: 100%;
  height: 100%;
  display: block;
  border: 1px solid var(--color-base-200);
  border-radius: 0.5rem;
  overflow: hidden;
}

.data iframe {
  width: 100%;
  height: 100%;
  display: block;
  aspect-ratio: 16 / 9;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

.time {
  display: flex;
  align-items: center;
  gap: 0.45rem;
  color: var(--color-font-sub);
  font-size: var(--font-min);
  font-weight: 500;
}

.source:link,
.source:visited {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-min);
  font-weight: 700;
}

@media screen and (max-width: 37.5rem) {
  .name {
    font-size: var(--font-min);
  }

  .content {
    font-size: var(--font-min);
  }
}
